@charset "utf-8";

@media screen and (max-width: 860px){
	.fundo{
		display: flex;
		flex-direction:column;
		justify-content:center;
	}

	.fundo-branco{
		display:flex;
		flex-direction: column;
		width: 75vw;
		margin: auto;
	}
	
	.titulo{
		font-size: 18px;
	}
	
	.certeza{
		font-size: 15px;
	}

	.entrada{
		padding: 1.7%;
	}

	.sucesso{
		margin-bottom: 5%;
	}

	.erro{
		margin-bottom: 5%;
	}
}

@media screen and (max-width: 530px){
	.fundo{
		background-image: url("../imagens/fundo_mobile.png");
	}
}
